default:
  address: "" # host:port, for example 127.0.0.1:16260
  password: ""
  log: "/config/logs/rcon-default.log"
  type: "" # rcon, telnet, web.
  timeout: "60s" # min 60s and for remote servers increase the value